.Controls {
    background-color: white;
    position: absolute;
    height: 100px;
    width: 100%;
    display: flex;
    z-index: 10;
    justify-content: flex-end;
    align-items: center;
    box-shadow: 0 30px 80px #656565;
}

.Controls :first-child {
    display: flex;
    padding-right: 20px;
}

/* .control {
    width: 33.333%;
    float: left;
    padding: 12px 0;
} */

.button {
    width: 26px;
    height: 26px;
    padding: 25px;
    background-color: #fff;
    cursor: pointer;
}

.button svg {
    display: block;
    color: #004066;
    font-size: 26px;
    text-align: center;
    line-height: 1;
}

.button, .button i {
    transition: 0.2s ease all;
}

.button:hover {
    background-color: #00a2ff;
}

.button:hover i {
    color: #fff;
}
